.card{
    width:200px ;
    height: 30vh;
    background-color:var(--bg-secondary) ;
    border-radius: 5px;
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    gap: 1vh;
    padding: 0.5em;
}